<h1 mat-dialog-title>Добавить пользователя</h1>

<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="user.name">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Nickname</mat-label>
    <input matInput [(ngModel)]="user.username">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput [(ngModel)]="user.email">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Phone</mat-label>
    <input matInput [(ngModel)]="user.phone">
  </mat-form-field>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Back</button>
  
  <button mat-raised-button 
  *ngIf="user.name.length &&
  user.username.length &&
  user.email.length &&
  user.phone.length; else noCreate" color='primary' [mat-dialog-close]="user" >Create!</button>

  <ng-template #noCreate><button  mat-raised-button color="primary" >Create! (fill lines)</button></ng-template>
  
</div>
